name: CI Pipeline

on:
  push:
    branches:
      - main


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Get code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t baby-app .

      - name: Run container test
        run: docker run -d -p 8080:80 baby-app
